@use "../../style/variables.scss" as *;
.header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    padding: 2.1rem 0;
    position: absolute;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.34);
    background: #202020;

    background: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    &__inner{
        width: $page-format;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        &__logo{
            display: flex;
            align-items: center;
            gap: .6rem;
            & h1{
                color: #FFF;
                font-family: var(--inter);
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                & span{
                    font-weight: 500;
                }
            }
        }
        &__nav{
            display: flex;
            gap: 4rem;
            & a{
                color: #FFF;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.48px;
                text-decoration: none;
            }
        }
        &__button{  
            & button{
                min-width: max-content;
            }
        }
    }
}

@media (max-width:750px) {
    .header{
        &__inner{

            &__nav{
                display: none;
            }
        }
    }
}