@use "../../style/variables.scss" as *;
.contactSection{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
    &__inner{
        width: $page-format;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &__content{
            padding: 11rem 0;
            width: 53.4rem;
            display: flex;
            flex-direction: column;
            gap: 1.9rem;
            &__title{

            }
            &__info{
                display: flex;
                flex-direction: column;
                gap: 3.1rem;
                &__title{
                    & h1{
                        color: black;
                        font-size: 4.8rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 125.5%;
                        letter-spacing: .144rem;
                        & span{
                            color: $primary-color;
                        }
                    }
                }

                &__desc{

                    & p{
                        color: var(--light-black, #696969);
                        text-align: justify;
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 155%; /* 24.8px */
                        letter-spacing: 0.48px;
                    }
                }
            }
        }

        &__img{
            position: relative;
            height: 100%;
            & img{
                position: absolute;
                bottom: 0;
                right: 0
            }
        }
    }
}