html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}



@media (min-width:1600px) {
    html{
        font-size: 70%;
    }
}

@media (max-width:1250px) {
    html{
        font-size: 50%;
    }
}

@media (max-width:750px) {
    html{
        font-size: 40%;
    }
}