@use "../../../style/variables.scss" as *;


.footerIconFrame{
    background-color: $primary-color;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}