.gradientFrame{
    width: 37.4rem;
    height: 43.9rem;
    flex-shrink: 0;
    position: relative;
    transition: .5s ease;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    & img{
    transition: .5s ease;

        filter: grayscale(1);
    }
    &:hover{
        height: 51.3rem;
        & img{
            filter: grayscale(0);
        }
    }
    &__frame{
        content: "";
        position: absolute;
        inset: 0;
        border: 5px solid;
        border-image: linear-gradient(180deg, white, rgba(255,56,57,0.48)) 1;
        transition: .5s ease;
        &:hover{
        border-image: linear-gradient(0deg, white, rgba(255,56,57,0.48)) 1;

        }
        border-radius: 52px;
    }
}